.container{
    width: 100%;
    height: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
}
/* aligne le texte au centre, avec une marge generale de 30px*/
.connexion {
    text-align: center;
   margin: 30px;
    
}
/* aligne mes tables aux centre de la page */
.Tables{
    display: flex;
   flex-direction: column;
    align-items: center;
    
}
.Google{
   margin-top: 10px;
    border: 1px solid;
    padding: 15px;
   display: flex;
   align-items: center;
   
}
.Google img{
    margin-right: 5px;
}
.phrase{
    font-weight: bold;
    font-size: large;
    margin-bottom: 30px;
}
.Google:hover{
    background-color: rgb(207, 192, 192);

}
.InfoMail{
    margin-top: 10px;
    border: 1px solid ;
    padding: 15px ;
   display: flex;
   align-items: center;
}
.InfoPass{
    margin-top: 10px;
    border: 1px solid;
    padding: 15px 95px 15px 95px;
   display: flex;
   align-items: center;
}
.Email{
    margin-top: 10px;
    border: 1px solid ;
    padding: 15px ;
   display: flex;
   align-items: center;
}
.Connect{
    margin-top: 25px;
    border: 1px solid;
    padding: 15px 95px 15px 95px;
   display: flex;
   align-items: center;
   background-color: rgb(46, 149, 222);
   color: white;
}
.Connect:hover{
background-color: blue;
}
.PasswordForget{
    margin-top: 20px;
    font-weight: lighter;
    
}

.PasswordForget a{
    text-decoration: underline;
    color:blue ;
    font-weight: bold;
}